
// @theme "/usr/share/rofi/themes/gruvbox-dark-hard.rasi"


configuration {
    modi: "drun,run,window";
    show-icons: true;
    drun-display-fonts: "{name}";
    font: "Jet Brains Mono SemiBold 13";
}
@theme "tokyonight"
